* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

img {
    width: 100%;
}

.hide {
    display: none;
}

.container {
    position: relative;
    left: 1rem;
    top: 2rem;
    width: 90%;
    height: 80vh;
    overflow: hidden;
    cursor: -webkit-grab;
    cursor: grab;
}

.slider-inner {
    position: absolute;
    top: 2%;
    left: 0;
    width: 500%;
    height: 100%;
    display: grid;
    gap: 1rem;
    pointer-events: none;
}

a {
    width: 18.75rem;
    background-color: aliceblue;
    display: block;
    margin: auto;
    text-align: center;
    padding: 1em 0.5em;
    font-family: "poppins", sans-serif;
    color: #000;
    text-decoration: none;
    border-radius: 0.5em;
}